.banner56 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header56 {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: auto;
  overflow: visible;
  margin-top: 0cm;
}

nav {
  width: 100%;
  position: fixed;
  background-color: rgb(163, 214, 206);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 50px;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: rgb(41, 112, 100);
  font-size: 18px;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.navbar a.A {
  text-decoration: underline;
  font-weight: bold;
}

.navbar a:hover {
  color: #78c3c3;
}

.button-container {
  display: flex;
  align-items: center;
  margin-left: -2cm;
  margin-top: -0.1cm;
}

.login-button {
  background-color: rgb(21, 74, 74);
  color: rgb(163, 214, 206);
  border: rgb(163, 214, 206);
  padding: 12px;
  border-radius: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: -2cm;
}

.login-button:hover {
  background-color: rgb(37, 78, 90);
  filter: brightness(120%);
  transform: scale(1.03);
  font-size: 105%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5cm;
}

.left-section {
  margin-left: 2cm;
  position: relative; 
}

.left-image {
  width: 850px;
  border-radius: 0px;
  margin-top: -3.7cm;
  margin-left: 0cm;
  opacity: 70%;
}

.left-image :hover {
  opacity: 70%;
}

.Explore {
  position: absolute;
  font-family: "Lalezar", cursive;
  bottom: 50px;
  margin-left: 9cm;
  font-size: 32px;
  letter-spacing: 0.2cm;
  color: rgb(41, 112, 100); 
  background-color: none; 
  padding: 10px 20px; 
  transition: all 0.3s ease;
  z-index: 1;
}

.Explore :hover {
  text-decoration: underline;
  font-weight: bold;
}

.right-section {
  text-align: center;
}

.right-section h2 {
  font-size: 46px;
  font-family: "Lalezar", cursive;
  color: rgb(41, 112, 100);
  margin-bottom: 20px;
  margin-top: -5cm;
  letter-spacing: 0.2cm;
}

.right-section p {
  font-size: 25px;
  color: rgb(41, 112, 100);
  line-height: 1.5;
  margin-bottom: 30px;
  margin-left: 1cm;
  margin-top: 2cm;
  font-weight: 600;
}
